.container{
    display: grid;
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
    grid-template-columns: 80% 20%;
    /*grid-template-rows: 50 auto auto;*/
    grid-gap: 15px;
}

header{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #63b3ed;
    text-align: center;
    padding: 15px;
    grid-column: span 2;
    

}

article{
    grid-column: 1;
    padding: 16px;
}

aside{
    grid-column: 2;
    padding: 16px;
}

h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 32px;
    color: #48bb78;
}

h3 span{
    color: #000000;
}
h3{
    color: #48bb78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p3{
    color: #718096;
}

footer{
    color: #FFFFFF;
    background-color: #2c5282;
    text-align: center;
    grid-column: span 2;
    
}

p1{
    color: #FFFFFF;
}

img{
    width: 200px;
    border-radius: 100px;
    float: right;

}



p{
    size: 18px;
    color: #2d3748;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

}

.h1{
    text-align: center;
}

.contain{
    background-color: #e2e8f0;
    padding: 15px;
}

a{
    color: #4299e1;
}
